.btn-add-specialty {
    padding         : 5px 10px;
    margin          : 10px;
    background-color: rgb(60, 165, 60);
    color           : white;
    border          : none;
    border-radius   : 4px;
    cursor          : pointer;
    transition      : background-color 0.3s ease;

    &:hover {
        background-color: #3e9c3e;
    }
}

.btn-delete-specialty {
    background-color: #ff4d4f;

    &:hover {
        background-color: #d9363e;
    }
}

.table_list_specialty {
    margin         : 20px 0;
    overflow-x     : auto;
    display        : flex;
    justify-content: center;
    align-items    : center;

    .specialty-table {
        width          : 100%;
        border-collapse: collapse;
        text-align     : center;

        thead {
            tr {
                background-color: #f4f4f4;

                th {
                    padding    : 10px;
                    border     : 1px solid #ddd;
                    font-weight: bold;
                    text-align : center;
                    /* Căn giữa text trong tiêu đề */
                }
            }
        }

        tbody {
            tr {
                &:nth-child(odd) {
                    background-color: #f9f9f9;
                }

                &:hover {
                    background-color: #f1f1f1;
                }

                .btn-delete-specialty,
                .btn-add-specialty {
                    padding         : 5px 10px;
                    margin          : 10px;
                    background-color: rgb(60, 165, 60);
                    color           : white;
                    border          : none;
                    border-radius   : 4px;
                    cursor          : pointer;
                    transition      : background-color 0.3s ease;

                    &:hover {
                        background-color: #3e9c3e;
                    }
                }

                .btn-edit-specialty {
                    padding         : 5px 10px;
                    margin          : 10px;
                    background-color: rgb(255, 225, 0);
                    color           : white;
                    border          : none;
                    border-radius   : 4px;
                    cursor          : pointer;
                    transition      : background-color 0.3s ease;

                    &:hover {
                        background-color: #918502;
                    }
                }

                .btn-delete-specialty {
                    background-color: #ff4d4f;

                    &:hover {
                        background-color: #d9363e;
                    }
                }


                td {
                    padding       : 10px;
                    border        : 1px solid #ddd;
                    vertical-align: middle;
                    text-align    : center;
                    /* Căn giữa text trong các ô */

                    img {
                        display      : block;
                        margin       : 0 auto;
                        border-radius: 5px;
                    }
                }
            }
        }

        // Responsive adjustments
        @media (max-width: 768px) {

            th,
            td {
                font-size: 14px;
                padding  : 8px;
            }

            img {
                width : 80px;
                height: 80px;
            }
        }
    }
}