.text-cancel-change-password {
    border-radius  : 30px;
    width          : 100%;
    max-width      : 100px;
    margin         : 10px 0;
    text-align     : center;
    color          : white;
    font-size      : 20px;
    padding        : 10px;
    background     : rgb(135, 184, 212);
    background-size: 300% 300%;
    animation      : gradientAnimation 4s ease infinite;

    &:hover {
        transform: scale(1.1);
        cursor   : pointer;
    }

    &:active {
        transform: scale(0.95);
    }
}