.section-outstanDoctor {
    height          : 450px;
    background-color: #fdfafa;
    padding         : 20px;
    position        : relative;

    .slider {
        margin: 0 50px;
        height: 350px;
    }

    .outstanDoctor-title {
        display        : flex;
        justify-content: space-between;
        align-items    : center;
        margin-top     : 50px;
        margin-bottom  : 20px;
        padding        : 0 25px;

        h2 {
            color      : rgb(78, 78, 75);
            font-weight: 700;
            text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
        }

        .btn-viewmore {
            background-color: #9be5aa;
            color           : #fff;
            padding         : 8px 16px;
            border-radius   : 50px;
            font-size       : 18px;
            font-weight     : 600;
            text-align      : center;
            cursor          : pointer;
            transition      : background-color 0.3s ease, transform 0.3s;

            &:hover {
                background-color: #499c8a;
                box-shadow      : 0px 4px 10px rgba(0, 0, 0, 0.15);
                transform       : scale(1.05);
            }

            &:active {
                transform: scale(1.2);
            }
        }
    }

    .outstanDoctor-item {
        align-items: center;
        padding    : 20px;


        p {
            font-size  : 16px;
            color      : #333;
            font-weight: 600;
            margin-top : 12px;
            cursor     : pointer;
            text-align : center;
        }

        .outstanDoctor-image {
            margin-top  : 20px;
            margin-left : auto;
            margin-right: auto;

            width              : 250px;
            height             : 250px;
            background-repeat  : no-repeat;
            background-size    : cover;
            /* Đảm bảo hình ảnh vừa khít */
            background-position: center;

            border-radius: 50%;
            /* Tạo khung hình tròn */
            box-shadow   : 0px 4px 12px rgba(0, 0, 0, 0.15);
            /* Hiệu ứng bóng nhẹ */
            transition   : box-shadow 0.3s ease, transform 0.3s ease;
            cursor       : pointer;


            &:hover {
                box-shadow      : 0px 8px 20px rgba(0, 0, 0, 0.25);
                /* Hiệu ứng bóng mạnh hơn */
                transform       : scale(1.05);
                /* Phóng to nhẹ khi hover */
                background-color: rgba(255, 255, 255, 0.2);
                /* Tăng nền sáng */
            }

            &:active {
                transform : scale(1.1);
                /* Giảm scale để phù hợp hơn */
                box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
                /* Bóng nhẹ hơn khi nhấn */
            }
        }

    }

    .arrow {
        position  : absolute;
        top       : 50%;
        transform : translateY(-50%);
        font-size : 40px;
        color     : #6ed4a4;
        cursor    : pointer;
        z-index   : 1;
        transition: color 0.3s;

        &.next {
            right: -20px;
        }

        &.prev {
            left: -20px;
        }

        &:hover {
            color: #4ba586;
        }


    }
}